<widget id="A123456789"  version="0.0.1">
    <name>App</name>
    <description>
        a sample app.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        APICloud
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="rongCloud">
        <!--<param name="appKey" value="kj7swf8o7zky2" />-->
        <param name="appKey" value="z3v5yqkbv8v30" />
        
    </feature>
</widget>
